@import url(swiper.min.css);
@import url(fonts.css);
@import url(slider.css);
@import url(footer.css);

body, ul {
    margin: 0 0;
    padding: 0 0;
}
body * {
    font-family: OpenSans-CondLight;
}
h1, h2, h3, h4, h5, h6, a, .slider-content * {
    font-family: OpenSans-CondBold;
}
a {
    text-decoration: none;
}