.swiper-slide img {
    width: 100%;
    display: block;
}
.swiper-pagination-bullet {
    background: #B2E3E8;
    height: 10px;
    width: 10px;
    opacity: 0.75;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #2f929d;
}
.slider-content {
    position: absolute;
    top: 0;
    left: 20%;
    color: #fff;
}
.slider-content ul li {
    font-size: 20px;
    width: 350px;
}
