#slider {
    margin-top: 40px;
}

.swiper-slide img {
    width: 100%;
    display: block;
}
.swiper-pagination-bullet {
    background: #B2E3E8;
    height: 10px;
    width: 10px;
    opacity: 0.75;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #2f929d;
}
.slider-content {
    position: absolute;
    top: 10%;
    left: 20%;
    color: #050505;
    padding: 20px;
    background: rgba(255,255,255,0.75);

}
.slider-content img {
    width: 100px;
    padding-bottom: 10px;
}
.slider-content h1 {
    margin-top: 0;
}
.slider-content ul li {
    font-size: 20px;
    width: 350px;
}
